.App {
  background-color: #2C3333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #5f6e6b;
  font-family: monospace;
}

span {
  text-align: left;
}